.Toggle {
  border: 2px solid #f9d29f;
  box-sizing: border-box;
  border-radius: 100px;
  display: flex;
  position: relative;
  transition: color 300ms ease-in;
}

/* TODO: Add styles for focused state 
.Toggle:focus-within {
  box-shadow: 0 0 5px #ea6c00;
}
*/

.Toggle-answer {
  z-index: 10;
  user-select: none;
  display: flex;
}

.Toggle-answer input {
  opacity: 0;
  position: absolute;
}

.Toggle-answer label {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  line-height: 120%;
  overflow: hidden;
  border-radius: 100px;
  transition: color 300ms ease-in;
}

.Toggle-answer label:hover {
  opacity: 0.9;
}

.Toggle-answer.selected label {
  color: #9f938b;
  opacity: 1;
  cursor: default;
}

.Toggle-slider {
  box-sizing: content-box;
  position: absolute;
  background: #f8caa3;
  border-radius: 100px;
  width: 50%;
  height: 100%;
  border: 2px solid #f8caa3;
  margin: -2px;
  transition: all 300ms ease-in;
}
